// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
  background-color: #00AB6C;
  height: 100px;
  margin: 0;
  padding: 5px 20px;

  h1{
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    margin-top: 10px;
  }
  p{
    display: inline-block;
    font-size: 12px;
    color: #ccc;
  }
  .user-details {
    position: absolute;
    right: 5px;
    top: 30px;
    display: inline-block;
    p{
      display: inline-block;
      font-size: 12px;
      color: lighten(#00AB6C, 10%);
    }
    a{
      color: #fff;
      font-size: 12px;
    }
    .login-form{
      margin-bottom: 0;
    }
    .button_to {
      display: inline-block;
    }
  }
}
